@page "/collections"
@inject IElasticBand _elasticBand
@inject NavigationManager _navigationManager;

<h1>ElasticBand Collections</h1>

@if (_collections == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <MatButton Raised="true" Icon="create" @onclick="CreateNewCollection">Create new collection</MatButton>
    </div>

    <MatTable Items="@_collections" class="mat-elevation-z5" Striped="true">
        <MatTableHeader>
            <th>Name</th>
            <th>Id</th>
            <th>Index</th>
            <th>TimeStamp</th>
        </MatTableHeader>
        <MatTableRow>
            <td>
                <MatIconButton Icon="open_in_browser" OnClick="@(e => OpenCollection(context.Id))"></MatIconButton>@context.Name
            </td>
            <td>@context.Id</td>
            <td>@context.Index</td>
            <td>@context.Timestamp</td>
        </MatTableRow>
    </MatTable>
}

@code {
    private List<CollectionDefinition> _collections;

    protected override async Task OnInitializedAsync()
    {
        _collections = await GetCollections();
    }

    private async Task<List<CollectionDefinition>> GetCollections()
    {
        var response = await _elasticBand.Query<CollectionDefinition>("eb_collections", "").ConfigureAwait(false);

        if (response.Ok)
            return response.Data;

        return null;
    }

    private void CreateNewCollection()
    {
        _navigationManager.NavigateTo(Urls.NewCollection);
    }

    private void OpenCollection(string id)
    {
        _navigationManager.NavigateTo(Urls.CollectionWithId(id));
    }    
}
